* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
  font-family: 'Alfa Slab One', cursive;
  width: 100%;
  background-color: #f4f5f6;
}
.main-container{
  width: 85%;
  background-color: #fff;
  margin: auto;
}
img{
  width: 100%;
}
.page-header{
  background-color: #f72210;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.row p{
  font-weight: 900;
  color: #fff;
}
.nav{
  width: 100%;
  background-color: #fff;
  color: black;
  font-weight: bold;
}
.nav a{
  text-decoration: none;
  color: black;
}
.nav-pills{
  border-bottom: 1px solid #aaa;
}
.row i{
  color: #aaa;
  padding-top: 10px;
}
.row input{
  border: 0px;
}
.text-right.header-item {
  padding: 40px 20px 0px 20px;
}
.text-right.header-item button{
  color: red;
  font-weight: bold;
  border: 0px;
  background-color: #fff;
}
.text-right.header-item i{
  color: red;
}
.text-left.header-item{
  padding: 40px 20px 0px 20px;
}
.container-fluid{
  margin-top: 15px;
}
.container-fluid p{
  color: black;
}
.text
#rocks{
  width: 100%;
}
.text-muted{
  font-size: 18px;
  font-weight: bold;
}
.news h3{
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  color: #000;
}
.news a{
  text-decoration-color: #f72210;
}
.news p{
  font-weight: 400;
}
ul.right-bar-ul{
  padding-left: 0px;
}
.right-bar-ul li{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.right-bar-ul img{
  width: 60px;
  height: 60px;
}
.right-bar-ul a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.info{
  padding: 0px 5px 0px 15px;
  line-height: 1.4em;
}
.aut{
  display: flex;
  flex-direction: row;
}
.aut p{
  font-weight: 400;
  color: #555;
}
.aut a{
  color: #555;
}
#abs{
  width: 100%;
}
.middle{
  font-family: "Roboto-condensed", sans-serif;
}
.par-mid{
  font-weight: 400;
}
.d-flex.flex-row.align-items-center img{
  width: 40%; 
}
.d-flex.flex-row.align-items-center p{
  width:60%;
}
.news.d-flex.flex-row.align-items-flex-start.mt-3.text-wrap img{
  width: 50%;
  height:80%;
}
#icon{
  width: 29px;
  height: 28px;
  background-color: #f72210;
}
.card-body i{
  color: white;
}
.btn.btn-secondary.text-uppercase.font-weight-bold.rounded-0{
  width: 160px;
  height: 35px;
  padding-top: 0px;
}
.card.mt-3{
  font-size: 13px;
  background-color: #f4f5f6;
  min-width:90%;
}